/* Layouts */

.row_column_switch,.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.space_between {
    justify-content: space-between;
}

.space_evenly {
    justify-content: space-evenly;
}

.align_center {
    align-items: center;
}

.row_center {
    align-items: center;
}

.bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.row_wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.center {
    display: grid;
    place-items: center;
}

/* Classes */

nav {
    height: 100px;
    position: sticky;
    top: 0px;
    filter: drop-shadow(0px 5px 8px #000000);
    z-index: 100;
}

nav div a .icon {
    height: 70px;
    width: 70px;
}

nav div a .logo {
    height: 70px;
    width: auto;
}

.search__row input {
    width: 500px;
    height: 25px;
    border-radius: 20px;
    position: relative;
    left: 10px;

    box-shadow: 0px 0px 22px -3px rgba(69,187,255,1);
    -webkit-box-shadow: 0px 0px 22px -3px rgba(69,187,255,1);
    -moz-box-shadow: 0px 0px 22px -3px rgba(69,187,255,1);
}

.search__row input:hover {
    box-shadow: 0px 0px 100px 19px rgba(69,187,255,1);
    -webkit-box-shadow: 0px 0px 100px 19px rgba(69,187,255,1);
    -moz-box-shadow: 0px 0px 100px 19px rgba(69,187,255,1);
}

.search__row a {
    position: relative;
    right: 20px;
    top: 2px;
    color: black;
}

.menu__search .search__row input {
    width: 300px;
}

.menu__search .search__row a {
    top: 5px;
}

.tag {
    border-radius: 20px;
}

.tag:hover {
    box-shadow: 0px 0px 22px -3px rgba(69,187,255,1);
    -webkit-box-shadow: 0px 0px 22px -3px rgba(69,187,255,1);
    -moz-box-shadow: 0px 0px 22px -3px rgba(69,187,255,1);
}

.hero-button {
    border-radius: 20px;
    width: 100%;
    filter: drop-shadow(0px 1px 3px #000000);
}

.hero-button * {
    color: black;
}

.hero-button:hover * {
    color: white;
}

.secondary-button {
    border-radius: 20px;
}

.secondary-button * {
    color: white;
    opacity: 50%;
}

.menu__ad {
    width: 25vw;
    height: auto;
}

.menu__ad img {
    width: 100%;
    height: auto;
}

.menu__content {
    width: 50vw;
    height: auto;
}

.menu__search {
    height: auto;
    padding: 10%;
}

.menu__items {
    height: auto;
}

.item__box {
    height: 300px;
    width: 200px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    transition: transform 0.3s ease 0.1s, box-shadow 0.3s ease 0.1s;
}

.item__box:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.5);

}

.item__box .item__image {
    height: 66%;
    width: 100%;
    object-fit: contain;
    background-color: white;
}

.item__quantity-box * {
    color: black;
}

.icon {
    height: 50px;
    width: 50px;
}

.purchase-list {
    width: 200px;
    min-height: 60vh;
}

.product-description__content > * {
    flex: 1 1 0px;
}

.product-description__content .item__image {
    height: 500px;
    width: 50%;
    background-color: white;
}

.image__primary {
    width: 60%;
    object-fit: contain;
}

.image__secondary {
    width: 40%;
}

.image__secondary img {
    opacity: 0.5;
    object-fit: contain;
    height: 33%;
    transition: opacity 0.3s ease;
}

.image__secondary img:hover {
    opacity: 1;
}

.inline-icon {
    width: 10%;
}

.shopping-cart_content {
    justify-content: center;
}

.login-box {
    width: 300px;
    height: 50vh;
}

.login-box div input {
    width: 97.5%;
}

.purchase-summary {
    width: 300px;
    height: 60vh;
}

@media screen and (max-width: 600px) {
    nav div a h3 {
        display: none;
    }

    .search__row input {
        width: 300px;
    }

    .row_column_switch {
        display: flex;
        flex-direction: column;
    }

    .menu__ad {
        width: 100vw;
        height: auto;
    }
    
    .menu__content {
        order: -1;
        width: 100vw;
        height: auto;
    }

    .item__box {
        height: 240px;
        width: 160px;
    }

    .purchase-list {
        width: 160px;
    }

    .login-box,.purchase-summary {
        width: 240px;
    }

    .product-description__content .item__image {
        order: -1;
        width: 100%;
    }
}